# env files
.env
secret.tfvars

# aws
aws_keys.txt
s3-download
pacu/

# terraform files
LICENSE
CHANGELOG.md
.terraform/
terraform-provider-github_*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup